
@model CategoryViewModel
@{
    ViewData["Title"] = "Category";
}


<div class="card">
    <div class="row card-header">
        <h5>Categories</h5>
    </div>
   

    <div class="row">
        <div class="col-3 p-4">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryAddedModel" >Add New Category</button>

                <div class="modal fade" id="categoryAddedModel" tabindex="-1" aria-labelledby="categoryAddedModel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                        <form asp-action="AddCategory" method="post">
                              <div class="modal-body">
                                <div class="mb-3">
                                    <label for="categoryName" class="form-label">Category Name</label>
                                    <input type="text" class="form-control" asp-for="CategoryName"  id="categoryName" name="CategoryName" placeholder="Tvs, Computers etc. ">
                                    <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                        </form>
                    </div>
                  </div>
                </div>
        </div>
    </div>
    <div class=" card-body px-4">

        <div class="col-8">
         <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Category Name</th>
              <th colspan="2" class="text-center">Operation</th>
            
            </tr>
          </thead>
          <tbody>
            
              @foreach (var category in Model.CategoryModels)
              {
                  <tr>
                      <td>@category.Id</td>
                      <td>@category.CategoryName</td>
                      <td class="text-center"><a class="btn btn-outline-danger" onclick="deleteCategoryById(@category.Id)">Delete</a></td>
                      <td class="text-center"><a class="btn btn-outline-success">Edit</a></td>
                  </tr>
              }
           
           </tbody>
        </table>
        </div>
    </div>
</div>


@section scripts{
    
    <script>
            function deleteCategoryById(CategoryId){

                let data = {id:CategoryId}
                $.ajax({
                   type:"GET",
                   url:"/Admin/Product/DeleteCategory",
                   data:data,
                   dataType:"json",
                   contentType:"application/json; charset=utf-8",
                   success: function(result){
                       alert(result.message);

                       window.location.reload();
                   },
                   error: function(textStatus){
                       console.error(textStatus)
                   }
                })
            }
    </script>
}

