@model CategoryViewModel
<CategoryViewModel>
    @{
        ViewData["Title"] = "Category";
    }

    <link href="~/lib/font-awasome/css/fontawesome.min.css">
    <div class="card gap-3">
        <div class="card-header text-bg-primary">
            <h1 class="text-center">Categories</h1>
        </div>
        <div class="row px-4">
            <div class="col-3">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#categoryAddedModel">Add New Category</button>

                <div class="modal fade" id="categoryAddedModel" tabindex="-1" aria-labelledby="categoryAddedModel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-action="AddCategory" method="post">
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Category Name</label>
                                        <input type="text" class="form-control" id="categoryName" name="CategoryName" asp-for="Categories" placeholder="Computer,Phone etc.">
                                        <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Category</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-4">
            <div class="col-8">
                <table class="table table-primary table-striped-columns">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category Name</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.CategoryName</td>
                                <td><a class="btn btn-outline-success" onclick="EditCategory(@category.Id)">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @section scripts{
    <script>


  
        function EditCategory(id){
            debugger
           
            $.ajax({
                url:"/Admin/Product/GetCatgoryById",
                   type: 'GET',
                   data: { id: id },
                   contentType: 'application/json; charset=utf-8',
                   dataType: 'json',
                   success: function(result) {
                       // Handle the result here, e.g., display it in the console
                       console.log(result);
                   },
                   error: function(xhr, textStatus, errorThrown) {
                       // Handle errors, e.g., display error messages
                       console.error('Error:', textStatus, errorThrown);
                   }
            })
        }
    </script>
    }
